/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
clearCache.sh
# Ignore everything in the public/media directory
public/media/*

# Except the folder named 'default'
!public/media/default/

# Ensure contents of the 'default' folder are not ignored
!public/media/default/**